<!DOCTYPE html>
<html>
  <head>
    <title>Capitalization Table Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <br />
  <div class="container">
    <h1>Capitalization Table</h1>
   <p id="comment">Last edited: March 30, 2023</p>
   <div class=""center">
    <form method="post" action="{{ url_for('submit') }}">
      <div style="display:block;">
      <table>
        <tr>
          <th>Security Name</th>
          <th>Security Type</th>
          <th>APP ($M)</th>
          <th>Liquidation Pref.</th>
          <th>Common Shares</th>
        </tr>
        <tr>
          <td>
           <h2>Founder Shares</h2>
          </td>
          <td>
            <select name="founder_sec" id="founder_sec" required>
              <option value="com">Common Stock</option>
            </select>            
          </td>
          <td class="empty-cell">N/A
          </td>
          <td class="empty-cell">N/A
          </td>
          <td>
            <input type="number" min="0" name="founder_com_shares" id="founder_com_shares" required>
          </td>
       </tr>
       <tr>
        <td>
         <h2>Series A</h2>
        </td>
        <td>
          <select name="serA_sec_type" id="serA_sec_type" required>
            <option value="conv_pref">Convertible Preferred</option>
            <option value="red_pref">Redeemable Preferred</option>
            <option value="part_pref">Participating Preferred</option>
          </select>            
        </td>
        <td>
          <input type="text" pattern="[0-9]+([.][0-9]+)?" name="serA_app" id="serA_app" required>
        </td>
        <td>
          <input type="text" pattern="[0-9]+([.][0-9]+)?" name="serA_liqpref" id="serA_liqpref" required>
        </td>
        <td>
          <input type="number" min="0" name="serA_shares" id="serA_shares" required>
        </td>
      </tr>
      </table>   
      </div>
      <br />
      <br />
      <h3>Company Valuation:</h3>
      <input type="number" min="0" name="company_val" id="company_val" required>
      <br />
      <br />
      <div style="display: block;">
        <button type="submit">Submit</button>
      </div>
     
    </form>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const securityTypeSelect = document.getElementById('serA_sec_type');
        const lastCell = document.querySelector('tr:last-of-type td:last-of-type');
      
        securityTypeSelect.addEventListener('change', () => {
          if (securityTypeSelect.value === 'red_pref') {
            lastCell.innerHTML = 'N/A';
            lastCell.classList.add('empty-cell');
          } else {
            lastCell.innerHTML = '<input type="number" min="0" name="serA_shares" id="serA_shares" required>';
            lastCell.classList.remove('empty-cell');
          }
        });
      });
    </script>
  </div>
  </body>
</html>
