<!DOCTYPE html>
<html>
  <head>
    <title>Waterfall Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
    <h1>InvestorID Listing</h1>
    <table>
      <tr><td>{{ Founder.investorID }}</td></tr>
      <tr><td>{{ VCInvestor.investorID }}</td></tr>
    </table>
    </div>
    <br />
    <br />
    <div class="container">
    <h1>Summary Cap Table</h1>
    <table>
      <tr>
        <th>Investor</th>
        <th>Security</th>
        <th>Ranking</th>
        <th>APP ($M) </th>
        <th>Liquidation Pref.</th>
        <th>Commmon Shares</th>
      </tr>
      <tr class="summary">
        <td>{{ FounderShares.holder }}</td>
        <td>{{ FounderShares.type_name }}</td>
        <td>{{ FounderShares.ranking }}</td>
        <td class="empty-cell"> N/A </td>
        <td class="empty-cell"> N/A</td>
        <td>{{ FounderShares.shares }}</td>
      </tr>
      <tr class="summary">
        <td>{{ SeriesA.holder }}</td>
        <td>{{ SeriesA.type_name }}</td>
        <td>{{ SeriesA.preferred.ranking }}</td>
        <td>{{ SeriesA.preferred.app }}</td>
        <td>{{ SeriesA.preferred.liqpref }}x</td>
        <td>{{ 'None' if not hasattr(SeriesA, 'common') or SeriesA.common is none else SeriesA.common.shares }}</td>
      </tr>
   
    </table>
  </div>
    <br />
    <br />
    <div class="container">
    <h1>Waterfall Results</h1>
    <table>
      <tr>
        <th>Company Valuation:</th>
      </tr>
      <tr>
        <td>{{ form.company_val }}</td>
      </tr>
    </table>
    <h2>Company Val:</h2>
    <h2>{{ waterfall }}</h2>

    </div>
  </body>
</html>
